body {
    background-color: #212121;
    text-align: center;
}

h1 {
    color: darkred;
    margin: 70px auto 20px auto;
    font-size: 40px;
}

p {
    color: #eacad0;
    font-size: 20px;
}

.CV {
    max-width: 960px;
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}
.CV:hover {
    opacity: 1;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.portfolio {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: 25px;
}
img:hover {
    opacity: 0.7;
}

#Button1 {
    flex-wrap: wrap;
    max-width: 200px;
    margin: 30px auto;
    background-color: #eacad0;
    font-weight: bold;
}
#Button1 p {
    color: black;
    padding: 10px;
}